.footer {
    text-align: center;
    background: rgba(96, 71, 236, 0.1);
    border-radius: 8px;
    margin: 170px 150px 80px 150px;
}

.footer p {
    padding: 30px 40px;
    font-weight: 600;
    font-size: 13px;
    color: #424242;
}

@media (max-width: 576px) {
    .footer {
        border-radius: 8px;
        margin: 25px 30px;
    }

    .footer p {
        padding: 30px 20px;
        font-weight: 600;
        font-size: 13px;
    }
}
@media (max-width: 768px){
    .footer {
        
        border-radius: 8px;
        margin: 25px 30px;
    }

    .footer p {
        padding: 30px 20px;
        font-weight: 600;
        font-size: 13px;
        color: #424242;
    }
}